[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchainhub = "*"
langchain-openai = "*"
black = "*"
langchain-ollama = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.13"
