[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-ollama = "*"
flask = "*"
tweepy = "*"
pylint = "*"
black = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.10"
